		/* IMPORTS */
		@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
		@font-face { font-family: VCRMono; src: url('images/VCR_OSD_MONO_1.001.ttf');}
		@font-face { font-family: Teletactile; src: url('images/Teletactile-3zavL.ttf');}

		/* BACKGROUND */
		body { 
			background: url(images/onthefourth.png) no-repeat center center fixed; 
			background-color: #0d0517;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		  }
		/* BACKGROUND END */

/* TOP MENU */
#mobMenuCont {
	text-align: right;
}
#mobMenu {
	background: linear-gradient(to bottom,  #653788,  #4D1F70);
	color: #FFF;
	height: 40px;
	padding-left: 10%;
	padding-right: 10%; /* originally 50 */
	margin:0%;
    border-bottom-left-radius: 50px; /* originally right */
	border: 2px solid #03010e;
	border-bottom: 4px solid #03010e;
	vertical-align: top;
	display: inline-block;
}
#mobMenu ul, #mobMenu li {
	margin: 0px;
	padding: 0;
	list-style: none;
}
#mobMenu ul {
	width: 100%;
}
#mobMenu li {
	float: left;
	display: inline;
	position: relative;
}
#mobMenu a {
	display: block;
	line-height: 40px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 15px;
}
#mobMenu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#mobMenu li a:hover {
	color: #8ddbe9;
}
#mobMenu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#mobMenu label {
	display: none;
	line-height: 40px;
	text-align: center;
	position: absolute;
	left: 35px
}
#mobMenu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}
#mobMenu ul.sub-mobMenus{
	height: auto;
	overflow: hidden;
	width: 150px;
	background: #926CB8;
	position: absolute;
	z-index: 99;
	display: none;
}
#mobMenu ul.sub-mobMenus li {
	display: block;
	width: 100%;
}
#mobMenu ul.sub-mobMenus a {
	color: #FFFFFF;
	font-size: 15px;
	text-transform: capitalize;
}
#mobMenu li:hover ul.sub-mobMenus {
	display: block
}
#mobMenu ul.sub-mobMenus a:hover{
	background: #61487A;
	color: #E3A7FC;
}
@media screen and (max-width: 800px){
	#mobMenu {position:relative}
	#mobMenu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#mobMenu ul.sub-mobMenus {width:100%;position:static;}
	#mobMenu ul.sub-mobMenus a {padding-left:10px;}
	#mobMenu li {display:block;float:none;width:auto;}
	#mobMenu input, #mobMenu label {position:absolute;top:0;left:0;display:block}
	#mobMenu input {z-index:4}
	#mobMenu input:checked + label {color:white}
	#mobMenu input:checked + label:before {content:"\00d7"}
	#mobMenu input:checked ~ ul {display:block}
}
        /* TOP MENU END */

#mobileInfosect {
	border: 2px solid #B067EB;
	margin:auto;
	background: hsla(289, 4%, 98%, 0.9);
	padding:5%;
	max-width:70%;
	margin-bottom:0px;
	margin-top:-2%;
}

.mobileMainText {
	font-family:'DM Sans', sans-serif;
	font-size:10px;
	text-align:left;
}

.mobileSocials {
	font-family: 'Teletactile';
	font-size:10px;
	color: hsla(289, 4%, 98%, 0.9);
	text-align:center;
}

#mobileVid1 {
	margin:auto;
	margin-top:0px;
	padding:20px;
	padding-top:5px;
	max-width:70%;
	margin-bottom:0px;
}

#mobileVid2 {
	border: 3px solid #B067EB;
	margin:auto;
	background: hsla(289, 4%, 98%, 0.9);
	padding:2px;
	max-width:90%;
}