@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
		@font-face { font-family: VCRMono; src: url('images/VCR_OSD_MONO_1.001.ttf');}
		@font-face { font-family: Teletactile; src: url('images/Teletactile-3zavL.ttf');}

#leftSideStuff {
    float:left;
    padding-top:10%;
    padding-bottom:20%;
    align-content:center;
    width:20%;
    margin-left:6.5%;
    margin-right:6%;
}

.pageFlip {
    border: 3px solid #451968;
	border-radius: 15px 15px 15px 15px;
	margin:auto;
	background: hsla(274, 33%, 19%, 0.781);
	width:100%;
}

.extraInfo {
    border: 3px solid #451968;
	border-radius: 10px 10px 10px 10px;
	margin:auto;
	background: hsla(274, 33%, 19%, 0.781);
	width:110%;
    padding:4%;
    color:white;
    font-family:'DM Sans', sans-serif;
}

#rightSideStuff {
    float:right;
    padding-top:10%;
    padding-bottom:20%;
    align-content:center;
    width:20%;
    margin-right:6.5%;
    margin-left:6%;
}

#volumeCover {
    margin:0;
}

.slaytbh {
	/* font-family: 'Vina Sans', cursive; */
	font-family: 'Teletactile'; /* FORMER: VCRMono */
	font-size:45px; /* 55 px original */
	font-stretch:50%;
	text-align:center;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color: #120569;
	/* text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c; */
	text-shadow: 2px 2px 0 #858b97, 4px 4px 0 #272e3ddc;
	color: #fff467;
	padding-right:30px; /* 30 original */
	padding-top:10px;
	text-decoration: none;
}

#pages {
    border: 3px solid #451968;
	border-radius: 15px 15px 15px 15px;
	margin:auto;
	background: hsla(274, 33%, 19%, 0.781);
    max-width:80%;
    width:fit-content;
    padding:1%;
    margin-bottom:1%;
    color:white;
    font-family:'DM Sans', sans-serif;
    word-spacing:1.5em;
    line-height:1.5em;
}

#parts {
    border: 3px solid #451968;
	border-radius: 15px 15px 15px 15px;
	margin:auto;
	background: hsla(274, 33%, 19%, 0.781);
    max-width:80%;
    width:fit-content;
    padding:1%;
    margin-bottom:1%;
    color:rgba(204, 204, 204, 0.568);
    font-family:'DM Sans', sans-serif;
    line-height:2em;
    align-content:center;
    text-align:center;
    font-size:x-large;
}

a.page:link, a.page:visited {
    border: 2px solid rgb(11, 0, 12);
    border-radius: 15px;
    background:#160918b7;
    color:rgb(214, 197, 216);
    padding-left:1em;
    padding-right:1em;
    text-decoration: none;
    text-align:center;
    margin:auto;
}

a.page:hover {
    border: 2px solid rgb(11, 0, 12);
    border-radius: 15px;
    background:#110713cb;
    color:rgb(236, 220, 238);
    padding-left:1em;
    padding-right:1em;
    font-size:0.8em;
    text-decoration: none;
    text-align:center;
    margin:auto;
}

a.part:link, a.part:visited {
    border: 2px solid rgb(11, 0, 12);
    border-radius: 15px;
    background:#160918b7;
    color:rgb(214, 197, 216);
    padding-left:1em;
    padding-right:1em;
    text-decoration: none;
}

a.part:hover {
    border: 2px solid rgb(11, 0, 12);
    border-radius: 15px;
    background:#110713cb;
    color:rgb(236, 220, 238);
    padding-left:1em;
    padding-right:1em;
    font-size:0.8em;
    text-decoration: none;
}

a.plainlink:link, a.plainlink:hover, a.plainlink:visited {
    color:white;
    font-family:'DM Sans', sans-serif;
    text-decoration:none;
}