
.portable-infobox.type-characters {
    width: 30%;
    border-radius: 4px 30px 2px 2px;
 } .portable-infobox.type-characters .pi-title {
    margin: 0px 20px 2px 0px;
 } .portable-infobox.type-characters .pi-title {
     border-radius: 0px 30px 40px 2px
 } .portable-infobox.type-characters .pi-header {
     border-radius: 0px
 } .portable-infobox.type-characters .pi-header {
     margin: 0px 2px 0px 2px;
 } .portable-infobox.type-characters .pi-data-value {
     padding: 0px 0px 0px 0px;
 }  .portable-infobox.type-characters .pi-item-spacing {
     padding: 10px 2px 10px 4px;
 } .portable-infobox.type-characters.pi-header {
     padding: 20px;
 } .portable-infobox.type-characters .pi-border-color {
     margin: 0px 5px 0px 5px;
 }
     
  .portable-infobox.type-characters.pi-background {
    background-color: #32323a;
 } .portable-infobox.type-characters .pi-title {
     background-color: #0d0b11;
 } .portable-infobox.type-characters .pi-header {
     background-color: #1e182d;
 } .portable-infobox.type-characters {
     border: 2px solid #0d0b12;
 } .portable-infobox.type-characters .pi-border-color {
    border-color: #c5d6f0;
 } [data-source="sizedimage"] .pi-image-thumbnail {
     max-width: 172px;
     max-height: 480px;
 }