
/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@font-face { font-family: VCRMono; src: url('../images/VCR_OSD_MONO_1.001.ttf');}
@font-face { font-family: Teletactile; src: url('../images/Teletactile-3zavL.ttf');}

/* BACKGROUND */
body { 
	background: url(../images/onthefourth.png) no-repeat center center fixed; 
	background-color: #0d0517;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
	}
/* BACKGROUND END */

h1 {
	margin: 0;
	padding: 0;
}

/* TOP Menu */
#mobileMenuContain {
	width:100%;
	margin-top:0%;
	padding-bottom:15%;
}
    #mobTopMenu {
		width: 45%;
		float: right;
	}
	/* SUB MENUS */
		.innerDrop > input[type="checkbox"] {
			position: absolute;
			left: -100vw;
		}
		.innerDrop .content {
			overflow-y: hidden;
			height: 0;
			transition: height 0.3s ease;
		}
		.innerDrop > input[type="checkbox"]:checked ~ .content {
			height: auto;
			overflow: visible;
		}
		.innerDrop label {
			display: block;
		}
		/* STYLLLE */
		.innerDrop > input[type="checkbox"]:checked ~ .content {
			border-radius: 0px 0px 5px 5px;
			border: 2px solid #3e2f41f5;
			background: #0d0c0eea;
			font-family:'DM Sans', sans-serif;
			color: white;
			font-size: smaller;
			padding-left:2%;
			width: 80%;
			float:right;
			z-index: 2;
		}
		
		.innerDrop label {
		cursor: pointer;
		}
		
		.innerDrop label:hover,
		.innerDrop label:focus {
		background: grey;
		}

	/* MENU */
		.mobileMenu > input[type="checkbox"] {
			position: absolute;
			left: -100vw;
			}
			.mobileMenu .content {
			overflow-y: hidden;
			height: 0;
			transition: height 0.3s ease;
			}
			.mobileMenu > input[type="checkbox"]:checked ~ .content {
			height: auto;
			overflow: visible;
			}
			.mobileMenu label {
			display: block;
			}
					/* STYLING */
			
			.mobileMenu > input[type="checkbox"]:checked ~ .content {
				width: 105%;
				float: right;
			}

			.links {
				border-radius: 0px 0px 5px 0px;
				border: 2px solid #0d0c0eea;
				background: linear-gradient(to bottom,  #653788,  #4D1F70);
				font-family:'DM Sans', sans-serif;
				color: white;
				font-size: smaller;
				padding-left:2%;
				z-index:1;
			}

			.mainMenu {
				background: linear-gradient(to bottom,  #653788,  #4D1F70);
				border-radius: 10px 0px 2px 10px;
				padding-right:10%;
				padding-top:10%;
				padding-bottom:5%;
				width:70%;
				float: right;
				color: rgb(247, 234, 246);
				font-family: 'Teletactile';
				text-align:right;
				font-size: x-large;
				text-shadow: 1px 1px 0 #0f0b11, 2px 2px 0 #3c353de8;
			}
			
			.mobileMenu label {
			cursor: pointer;
			}
			
			.mainMenu label:hover,
			.mainMenu label:focus {
				background: #4D1F70;
				border-radius: 10px 0px 2px 10px;
				width:100%;
				height:100%;
				text-align:right;
				top: 0;
			}

.mobileMainText {
	font-family:'DM Sans', sans-serif;
	font-size:small;
	text-align:left;
	color: rgb(239, 238, 247);
}

#mobPageControls {
	border: 3px solid #451968;
	border-radius: 15px 15px 15px 15px;
	background: hsla(274, 33%, 19%, 0.781);
	margin-bottom:20px;
	padding-top:1%;
	padding-bottom:1%;
	padding-right: 2%;
	padding-left:2%;
	width:60%;
	margin-right:auto;
	margin-left:auto;
	font-family:'DM Sans', sans-serif;
	}

.mobPageInfo {
	font-size:normal;
	padding-top:10px;
	padding-left:20px;
	color:hsla(300, 7%, 97%, 0.9);
	-webkit-text-stroke-width:0.5px;
	-webkit-text-stroke-color: #120569;
}

.mobPageCap {
	font-size:small;
	padding-left:10px;
	-webkit-text-stroke-width:0.5px;
	-webkit-text-stroke-color: #120569;
	color: hsla(300, 7%, 97%, 0.9);
}

.mobComicPage {
	margin-left:auto;
	margin-right:auto;
	width:90%;
	margin-bottom:3%;
}

@media (max-device-width: 483px) {
	#desktopView {
		display: none;
	}
}

a.mobNextPage, a.mobPrevPage {
	height:3.84em;
	width:5em;
	overflow:hidden;
	background-size:cover;
	background-repeat:no-repeat;
	image-rendering:pixelated;
	display:inline-block;
	margin:auto;
	font-family:'VCRMono';
	color:white;
	text-decoration:none;
}
a.mobNextPage {
	background-image: url('images/noNext.png');
	image-rendering:pixelated;
	text-align:left;
	padding-left:1em;
}
a.mobNextPage:link {
	background-image: url('images/nextButton.png');
	image-rendering:pixelated;
}
a.mobPrevPage, a.mobPrevPage:link {
	background-image:url('images/prevButton.png');
	image-rendering:pixelated;
	text-align:right;
	padding-right:1em;
}

.mobPageButtons {
	margin:auto;
	text-align:center;
	margin-top:1em;
}