<div id="mobileMenuContain"><div id="mobTopMenu"><section class="mobileMenu">
  <input type="checkbox" name="collapse" id="menuButt">
    <div class="mainMenu"><label for="menuButt">Open Menu</label></div>

  <div class="content">
      <div class="links"><a href="/index.html">Homepage</a></div>
      <div class="links"><a href="https://discord.gg/yxGdKyMsc4">Discord</a></div>
      <section class="innerDrop">
        <input type="checkbox" name="collapse" id="comic">
        <div class="links"><label for="comic">Read the Comic</label></div>
        <div class="content"><a href="/comic/read.html">All volumes</a><br></div>
          <div class="content"><a href="/comic/read.html">Volume 1</a><br></div>
        </section>
        </div>
    </section>
  </div>
</div>