<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
      <li><a href='index.html'>Homepage</a></li>
      <li><a class='dropdown-arrow' href='read.html'>Read the Comic!</a>
        <ul class='sub-menus'>
          <li><a href='read.html'>All Volumes</a></li>
          <li><a href='part1.html'>Volume One</a></li>
        </ul>
      </li>
      <li><a href='slashjayexpo.html'>What Is /J?</a></li>
      <li><a href='https://slashjay.fandom.com/wiki/The_Official_Slashjay_Wiki'>The Wiki</a></li>
      <li><a class='dropdown-arrow'>Development & More</a>
        <ul class='sub-menus'>
          <li><a href='about.html'>More About /J</a></li>
          <li><a href='timeline.html'>The Timeline</a></li>
          <li><a href="announcements.html">Announcements</a></li>
          <li><a href="https://discord.gg/yxGdKyMsc4">Discord Server</a></li>
          </ul>
        </li>
      </ul>
</nav>