<div id="mobileMenuContain"><div id="mobTopMenu"><section class="mobileMenu">
    <input type="checkbox" name="collapse" id="menuButt">
      <div class="mainMenu"><label for="menuButt">Open Menu</label></div>
  
    <div class="content">
        <div class="links">Homepage</div>
        <div class="links">The Wiki</div>
        <div class="links">Discord</div>
        <section class="innerDrop">
          <input type="checkbox" name="collapse" id="comic">
          <div class="links"><label for="comic">Read the Comic</label></div>
          <div class="content"> All Volumes<br>
            Volume 1</div>
          </section>
          </div>
      </section>
    </div>
  </div>