<!DOCTYPE html>
<html>
<head>
<title>Testing Grounds</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/MainSiteCSS.css">
<link rel="stylesheet" href="assets/NoMobile.css">

<div id="desktopView">Whoops! Looks like this is a placeholder page.</div>

<div id="mobileView">
        <div id="mobMissing404">
            <div class="mobilefunkyfresh">418</div><br>
            <div class="mobMissingText">This page is unsupported for mobile devices...</div><br>
            <div class="mobExtraText">Sorry for the inconvinience... Programming is hard.</div><br>
            <div class="mobExtraExtraText">Use the door to return to the homepage<br>we don't mind.</div><br>
            <div class="mobDoor"><a href='https://mateorat.github.io/'><img src="https://files.catbox.moe/9m1ak3.png" alt="The door"></a></div>
        </div>
</div>