<!DOCTYPE html>
<html>
<head>
<title>VOLUME ONE - PART ONE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../../ComicCSS.css">
<link rel="stylesheet" type="text/css" href="../../mobileComicCSS.css">
<link rel="stylesheet" type="text/css" href="../Part.css">
<link rel="stylesheet" href="../../../assets/gMenuPages.css">
<link rel="stylesheet" href="../../../assets/NoMobile.css">
</head>

<div id="desktopView">
  <div class="music">
    <audio controls autoplay loop>
      <source src="https://files.catbox.moe/f0cqqj.mp3" type="audio/mpeg">
      Your browser does not support the music player!
    </audio>
    </div>

<!-- MENUUUU !!! -->
<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href='../../../index.html'>Homepage</a></li>
    <li><a class='dropdown-arrow' href='../../read.html'>Read the Comic!</a>
      <ul class='sub-menus'>
        <li><a href='../../read.html'>All Volumes</a></li>
        <li><a href='../1.html'>Volume One</a></li>
      </ul>
    </li>
    <li><a href='../../../slashjayexpo.html'>What Is /J?</a></li>
    <li><a href='https://slashjay.fandom.com/wiki/The_Official_Slashjay_Wiki'>The Wiki</a></li>
    <li><a class='dropdown-arrow'>Development & More</a>
      <ul class='sub-menus'>
        <li><a href='../../../about.html'>More About /J</a></li>
        <li><a href='../../../timeline.html'>The Timeline</a></li>
        <li><a href="../../../announcements.html">Announcements</a></li>
        <li><a href="https://discord.gg/yxGdKyMsc4">Discord Server</a></li>
        </ul>
      </li>
    </ul>
</nav>
  <br>

  <div id="leftSideStuff">
    <div class="slaytbh">PROLOGUE</div>
    <div class="pageFlip">
      <p style="text-align:center">
        <img style="text-align:center" src="../../images/prevButton.png"width="100">
      </p>
    </div>
    <div class="funkyfresh">Music</div>
    <div class="extraInfo">
      FNaF: Security Breach OST<br>
      FNaF: Pizzeria Simulator OST<br>
      FNaF: Ultimate Custom Night OST<br>
      FNaF: Sister Location OST<br>
      FNaF 4 OST<br>
      Lost In Vivo OST<br>
      Danganronpa: Trigger Happy Havoc OST<br>
      Danganronpa 2: Goodbye Despair OST<br>
      Persona 5 OST<br>
      Minecraft OST<br>
      Stranger Things OST<br>
      Undertale OST<br>
      Noragami OST
    </div>
  </div>

  <div id="rightSideStuff">
    <div class="slaytbh">PART 1</div>
    <div class="pageFlip">
      <p style="text-align:center">
        <img style="text-align:center" src="../../images/nextButton.png"width="100">
      </p>
    </div>
    <div class="funkyfresh">Warnings</div>
    <div class="extraInfo">
      - Flashbacks<br>
      - Off-screen death<br>
      - Slight references to child abuse<br>
      - And other  topics that some may find disturbing
    </div>
  </div>
      
      <p style="text-align:center;">
      </p>
      <div id="volumeCover">
        <img src="https://files.catbox.moe/92xi8h.webp"alt="Page One"width="35%">
      </div>

      <div class="slaytbh">PAGES</div>
      <div id="pages">
        <a class="page" href='part1/PageTemplate.html'>1</a><a class="pagenotout">2</a><a class="pagenotout">3</a>
      </div>

<!-- TRIGGER WARNINGS -->
<style>
  #deskPage {
            display: none;
        }
</style>

  </div>
<!-- DESKTOP END-->

<!-- MOBILE -->
<div id="mobileView">
  <div id="mobMissing404">
      <div class="mobilefunkyfresh">418</div><br>
      <div class="mobMissingText">This page is unsupported for mobile devices...</div><br>
      <div class="mobExtraText">Sorry for the inconvinience... Programming is hard.</div><br>
      <div class="mobExtraExtraText">Use the door to return to the homepage<br>we don't mind.</div><br>
      <div class="mobDoor"><a href='https://mateorat.github.io/'><img src="https://files.catbox.moe/9m1ak3.png" alt="The door"></a></div>
  </div>
</div>
<!-- MOBILE END -->